select {
  font-size: inherit;
  margin: 6px;
  -webkit-appearance: none;
  /*webkit browsers */
  -moz-appearance: none;
  /*Firefox */
  appearance: none;
  padding: 5px;
  border: none;
  background-color: white;
  color: #5d89ee;
  text-align-last: center;
}

select:hover {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #5dd1ee;
  -moz-box-shadow: 0px 0px 20px 0px #5dd1ee;
  box-shadow: 0px 0px 20px 0px #5dd1ee;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

input {
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  background-color: #5dd1ee;
}

input:hover {
  background-color: #5dd1ee;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #5dd1ee;
  -moz-box-shadow: 0px 0px 20px 0px #5dd1ee;
  box-shadow: 0px 0px 20px 0px #5dd1ee;
  transition: all 0.3s ease-out;
}

.favorites {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: #fafeff;
  background: #5d89ee;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-top: none;
}

.favorites:hover {
  font-size: 1.25rem;
}

.favorites::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.favorites-collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.favorits-toggle:checked + .favorites + .favorites-collapsible-content {
  max-height: 350px;
}

.favorites-toggle:checked + .favorites::before {
  transform: rotate(90deg) translateX(-3px);
}

.favorites-toggle:checked + .favorites {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lbl-toggle-filter {
  width: 50%;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: #fafeff;
  background: #5d89ee;
  cursor: pointer;
  transition: all 0.25s ease-out;
  border-top: none;
}

.lbl-toggle-filter:hover {
  font-size: 1.25rem;
}

.lbl-toggle-filter::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle-filter + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle-filter::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle-filter {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
