.map {
  height: 100vh;
  margin-left: 375px;
}

@media screen and (max-width: 850px) {
  .map {
    height: 100vh;
    margin-left: 350px;
  }
}

@media screen and (max-width: 700px) {
  .map {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .map {
    display: none;
  }
}
