.bar {
  display: none;
}

@media screen and (max-width: 850px) {
  .bar {
    width: 350px;
    margin: 0;
    padding: 0 0 90px 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
  }
  h2 {
    font-size: 16px;
  }
  p {
    color: rgb(82, 79, 79);
    padding: 0px 15px 0px 15px;
    font-size: 15px;
  }

  .bar li {
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
  }

  li.polaroids {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  li img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-image: url("https://cdn-files.apstatic.com/hike/7039883_medium_1509768579.jpg");
  }

  h2 {
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    color: rgb(82, 79, 79);
    display: inline-block;
    font-size: 19px;
  }

  input[type="radio"] {
    display: none;
  }

  .lbl-toggles {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    color: #fafeff;
    background: #5d89ee;
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .lbl-toggles:hover {
    font-size: 1.05rem;
  }

  .lbl-toggles::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }

  .collapsible-contents {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    -webkit-overflow-scrolling: touch;
  }
  .toggles:checked + .lbl-toggles + .collapsible-contents {
    max-height: 600px;
  }

  .toggles:checked + .lbl-toggles::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .toggles:checked + .lbl-toggles {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  button {
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    background-color: #5dd1ee;
  }

  button:hover {
    background-color: #5dd1ee;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #5dd1ee;
    -moz-box-shadow: 0px 0px 20px 0px #5dd1ee;
    box-shadow: 0px 0px 20px 0px #5dd1ee;
    transition: all 0.3s ease-out;
  }

  .wishlistButtons {
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px 10px;
  }

  button:disabled .wishlistButtons,
  button[disabled] {
    background-color: #cccccc;
  }
  .mobileMap {
    height: 50vh;
    margin-top: 5px;
    width: 100vw;
    display: block;
  }

  strong {
    font-weight: 900;
  }
}

@media screen and (max-width: 700px) {
  .labels {
    font-size: 14px;
  }
  .labels:hover {
    font-size: 14px;
  }

  .bar {
    width: 100%;
  }

  li.polaroids {
    width: 94%;
  }

  li img {
    height: 180px;
  }
}

@media screen and (max-width: 400px) {
  .bar a {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
  button {
    font-size: 13px;
  }
}
