body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.topnav {
  background-color: #e7f6ff;
  overflow: hidden;
  padding-right: 2%;
  padding-left: 2%;
  z-index: 1;
}

.topnav h1 {
  color: #5dd1ee;
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  font-size: 31px;
}

/* Style the links inside the navigation bar */
.topnav h4 {
  float: right;
  display: block;
  color: #5dd1ee;
  text-align: center;
  padding: 8px 5px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 100px;
}

.icon {
  float: left;
  margin-top: 15px;
  margin-left: 50px;
  width: 55px;
}

@media screen and (max-width: 600px) {
  .topnav h4:nth-of-type(2) {
    display: none;
  }
  .topnav h4.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav h4 {
    padding: 7px;
    float: right;
    font-size: 13px;
    margin-right: 15px;
  }

  .topnav h1 {
    font-size: 22px;
    padding: 4px;
  }
  .icon {
    margin-left: 10px;
    width: 45px;
  }
}
